{% extends 'base.html.twig' %}

{% block title %}Torneo de tenis{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
<br>
    <h1>Menu principal</h1>

    <br>

    <section class="alert alert-info">
       <p>Bienvenido al simulador de torneo de tenis, en el podrás crear torneos femeninos y masculinos.</p> 
       <p>Hay una plantilla de jugadores para que puedas realizar simulaciones sin tener que cargar jugadores de prueba.</p>
       <p>Debes tener en cuenta que para inscribir a los jugadores en un torneo primero debes crear el mismo y los jugadores deben estar dados de alta previamente.</p>
    </section>



<section>
    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
         
            <div class="card">
            <div class="card-body">
              <h5 class="card-title">Torneos</h5>
              <p class="card-text">Gestiona torneos, crea nuevos, edita o elimina existentes.</p>
              <a href="{{ path('app_torneo') }}" class="btn btn-primary">Ver mas</a>
            </div>
          </div>
        </div>
        
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Inscripciones</h5>
              <p class="card-text">Incorpora nuevos jugadores y realiza las inscripciones a lor torneos.</p>
              <a href="{{ path('app_inscripcion') }}" class="btn btn-primary">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Jugadores</h5>
                <p class="card-text">Da de alta jugadores para luego inscribirlos y que participaen en las simulaciones de torneos.</p>
                <a href="{{ path('app_jugador') }}" class="btn btn-primary">Ver mas</a>
              </div>
            </div>
          </div>
      </div>
</section>

</div>
{% endblock %}
