{% extends 'base.html.twig' %}

{% block title %}Hello JugadorController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="">
    <h1 class="display-1">Jugadores</h1>

    <section class="alert alert-info">
        <p>En este apartado puedes dar de alta jugadores o todos los que estan disponibles en el fixture.</p>
        <button class="btn btn-success"> Nueva inscripción</button>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inscModal">Inscripción aleatorea</button>
        <a href="{{ path('app_menu') }}" class="btn btn-dark">Volver al menú</a>
    </section>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/app/src/Controller/JugadorController.php</code></li>
        <li>Your template at <code>/app/templates/jugador/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
