{% extends 'base.html.twig' %}

{% block title %}Hello JugadorController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.nombre, 'Nombre', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <br>

            <div class="form-group">
                {{ form_label(form.apellido, 'Apellido', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.apellido, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <br>

             <div class="form-group">
                {{ form_label(form.genero, 'Género', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.genero, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <br>

            <div class="form-group">
                {{ form_label(form.saque, 'Saque', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.saque, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <br>

            <div class="form-group">
                {{ form_label(form.fondo, 'Fondo', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.fondo, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <br>

            <div class="form-group">
                {{ form_label(form.volea, 'Volea', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.volea, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <br>

            <div class="form-group">
                {{ form_label(form.movilidad, 'Movilidad', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.movilidad, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <br>

            <div class="form-group">
                {{ form_label(form.resistencia, 'Resistencia', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.resistencia, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <br>

            <div class="form-group">
                {{ form_label(form.velocidad, 'Resistencia', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.resistencia, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <br>

            

        {{ form_end(form) }}
    </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="">
    <h1 class="display-1">Jugadores</h1>

    <section class="alert alert-info">
        <p>En este apartado puedes dar de alta jugadores o todos los que estan disponibles para la simulaciones.</p>
        <button class="btn btn-success"> Nueva jugador</button>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inscModal">Alta masiva</button>
        <a href="{{ path('app_menu') }}" class="btn btn-dark">Volver al menú</a>
    </section>

     <br>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Jugador</th>
                <th>genero</th>
                <th>Saque</th>
                <th>Fondo</th>
                <th>Volea</th>
                <th>Movilidad</th>
                <th>Resistencia</th>
                <th>Velocidad</th>
                <th>Fuerza</th>
                <th>Reacción</th>
            </tr>
        </thead>
        <tbody>
        {% for jugador in jugadores %}
            <tr>
                <td>{{ jugador.id }}</td>
                <td>{{ jugador.nombre }} {{ jugador.apellido }}</td>
                <td>
                {% if jugador.genero == true %}
                    <span class="badge rounded-pill text-bg-info">Masculino</span>
                </td>
                {% else %}
                    <span class="badge rounded-pill text-bg-warning">Femenino</span>
                {% endif %}
                <td>{{ jugador.saque }}</td>
                <td>{{ jugador.fondo }}</td>
                <td>{{ jugador.volea }}</td>
                <td>{{ jugador.movilidad }}</td>
                <td>{{ jugador.resistencia }}</td>
                <td>{{ jugador.velocidad }}</td>
                <td>{{ jugador.fuerza }}</td>
                <td>{{ jugador.reaccion }}</td>
            </tr>   
        {% else %}
            <tr>
                <td colspan="2">No hay partidos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
