{% extends 'base.html.twig' %}

{% block title %}Partido index{% endblock %}

{% block body %}
    <h1 class="display-1">Partidos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partido in partidos %}
            <tr>
                <td>{{ partido.id }}</td>
                <td>{{ partido.j }}</td>
                <td>
                    <a href="{{ path('app_partido_show', {'id': partido.id}) }}">show</a>
                    <a href="{{ path('app_partido_edit', {'id': partido.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
