{% extends 'base.html.twig' %}

{% block title %}Hello InscripcionController!{% endblock %}

{% block body %}
    <h1 class="display-1">Inscripciones</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Jugador 1</th>
                <th>Jugador 2</th>
            </tr>
        </thead>
        <tbody>
        {% for inscri in inscripciones %}
            <tr>
                <td>{{ inscripcion.id }}</td>
                <td></td>
                <td></td>
                <td>
                    <a href="{{ path('app_partido_show', {'id': partido.id}) }}">show</a>
                    <a href="{{ path('app_partido_edit', {'id': partido.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No hay partidos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
