{% extends 'base.html.twig' %}

{% block title %}Inscripciones{% endblock %}

{% block body %}
    <!-- Modal para mostrar mensajes de éxito o error -->
    <div class="modal fade" id="resultadoModal" tabindex="-1" aria-labelledby="resultadoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="resultadoModalLabel">Mensaje de la inscripción</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="resultadoModalBody">
            <!-- Aquí se mostrarán los mensajes de éxito o error -->
            </div>
        </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="inscModal" tabindex="-1" aria-labelledby="inscModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="inscModalLabel">Inscripción aleatorea</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Seleccione un torneo, este completará el cupo permitido.
                </p>
                <form action="">
                    <label for="">
                        <span>Torneo</span>
                        <input class="form-control" type="input" name="idTorneo" id="idTorneo">
                        <select name="" id=""></select>
                    </label>
                </form>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="siguienteBtn" >Siguiente</button>
            </div>
            </div>
        </div>
    </div>

    <h1 class="display-1">Inscripciones</h1>

    <section class="alert alert-info">
        <p>Asegurese de tener a los jugadores registrados antes de proceder con la inscripción.</p>
        <button class="btn btn-success"> Nueva inscripción</button>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inscModal">Inscripción aleatorea</button>
        <a href="{{ path('app_menu') }}" class="btn btn-dark">Volver al menú</a>
    </section>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Jugador</th>
                <th>Torneo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for inscripcion in inscripciones %}
            <tr>
                <td>{{ inscripcion.id }}</td>
                <td>{{ inscripcion.jugador1.nombre }} {{ inscripcion.jugador1.apellido }}</td>
                <td>{{ inscripcion.torneo.nombre }}</td>
            </tr>   
        {% else %}
            <tr>
                <td colspan="2">No hay partidos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    
    $('#siguienteBtn').on('click', function() {
     
      var idTorneo = $('#idTorneo').val();
      var data = {
        'torneo': idTorneo
      };

      $('#inscModal').modal('hide');
      $.ajax({
        url: '/inscaleatorea', 
        method: 'POST', 
        contentType: 'application/json', 
         data: JSON.stringify(data),
        success: function(response) {
        
          $('#resultadoModalBody').html('<p><i class="fa-regular fa-face-laugh-beam"></i> La inscripción se realizó con éxito</p><p></p>');
          $('#resultadoModal').modal('show');
        },
        error: function(xhr, status, error) {
         
          $('#resultadoModalBody').html('<p>' + xhr.responseJSON.error + '</p>');
          $('#resultadoModal').modal('show');
        }
      });
    });
  });
</script>
{% endblock %}
