{% extends 'base.html.twig' %}

{% block title %}Hello InscripcionController!{% endblock %}

{% block body %}
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>



    <h1 class="display-1">Inscripciones</h1>

    <section class="alert alert-info">
        <p>Asegurese de tener a los jugadores registrados antes de proceder con la inscripción</p>
        <button class="btn btn-success"> Nueva inscripción</button>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inscModal">Inscripcion aleatorea</button>
    </section>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Jugador</th>
                <th>Torneo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for inscripcion in inscripciones %}
            <tr>
                <td>{{ inscripcion.id }}</td>
                <td>{{ inscripcion.jugador1.nombre }}</td>
                <td>{{ inscripcion.torneo.nombre }}</td>
                <td><button class="btn btn-danger">Eliminar</button></td>
            </tr>   
        {% else %}
            <tr>
                <td colspan="2">No hay partidos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
