{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
<style>
  
</style>

<div class="container">
    <br>
    <section class="alert alert-info">
        <h1 class="display-2">Accion realizada</h1>
        <hr>

    <a class="btn btn-success" href="{{ path('app_torneo') }}">Volver</a>
    <a class="btn btn-success" href="{{ path('app_torneo') }}">Simalar partidos</a>
    </section>

    <section>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for partido in partidos %}
            <tr>
            <th scope="row">1</th>
            <td>{{ partido.ju }}</td>
            <td>Masculino</td>
            <td> <button class="btn btn-success"> Detalle </button>  </td>
            <td> <button class="btn btn-success"> Sorteo </button>  </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>



</div>
{% endblock %}
