{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
<style>
  
</style>

<div class="container">
    <br>
    <section class="alert alert-info">
        <h1 class="display-2">Accion realizada</h1>
        <hr>

    <a class="btn btn-success" href="{{ path('app_torneo') }}">Volver</a>
    </section>

  </tbody>
</table>
    </section>
</div>
{% endblock %}
