{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
<style>
  .botonera td{
    padding: 5px;
  }
</style>





<!-- Modal -->
<div class="modal fade" id="torneoModal" tabindex="-1" aria-labelledby="torneoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      {# {{ form_start(torneoForm) }} #}
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="torneoModalLabel">Nuevo Torneo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="form-group">

      </div>
      <br>
      <div class="form-group">

      </div>
      <br>
      <div class="form-group">
  
      </div>
      <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
      {# {{ form_end(torneoForm) }} #}
    </div>
  </div>
</div>

<div class="container">

    <section class="alert alert-">
        <h1 class="display-1">Detalle del Torneo</h1>

        <br>

      <section class="alert alert-info">
        <p>Revisa los detalles y realiza la simulacion del torneo</p>
        <hr>

        <table class="botonera">
          <td><a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#torneoModal">Nuevo Torneo</a></td>
          <td><a href="{{ path('app_menu') }}" class="btn btn-dark">Volver al menú</a></td>
        </table>

        

      </section>
    </section>

    


    <section>
      <h2>Inscriptos</h2>
      
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for inscripto in inscriptos %}
          
      <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ inscripto.jugador1.nombre }} {{ inscripto.jugador1.apellido }}</h5>
              
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </section>
</div>
{% endblock %}
