{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
<style>
  .botonera td{
    padding: 5px;
  }
</style>





<!-- Modal -->
<div class="modal fade" id="torneoModal" tabindex="-1" aria-labelledby="torneoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      {{ form_start(torneoForm) }}
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="torneoModalLabel">Nuevo Torneo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="form-group">
          {{ form_label(torneoForm.nombre) }}
          {{ form_widget(torneoForm.nombre, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(torneoForm.nombre) }}
      </div>
      <br>
      <div class="form-group">
          {{ form_label(torneoForm.genero) }}
          {{ form_widget(torneoForm.genero, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(torneoForm.genero) }}
      </div>
      <br>
      <div class="form-group">
          {{ form_label(torneoForm.cantidad) }}
          {{ form_widget(torneoForm.cantidad, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(torneoForm.cantidad) }}
      </div>
      <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
      {{ form_end(torneoForm) }}
    </div>
  </div>
</div>

<div class="container">

    <section class="alert alert-">
        <h1 class="display-1">Torneos</h1>

        <br>

      <section class="alert alert-info">
        Los torneos tienen etapas determinas por la cantidad de participantes del mismo, para iniciar el torneo se debe contar con la cantidad de jugadores configurada al crear el torneo
        <hr>

        <table class="botonera">
          <td><a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#torneoModal">Nuevo Torneo</a></td>
          <td><a href="{{ path('app_menu') }}" class="btn btn-dark">Volver al menú</a></td>
        </table>

        

      </section>
    </section>

    


    <section>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Jugadores</th>
            <th scope="col">Etapas</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for torneo in torneos %}
            <tr>
            <th scope="row">{{ torneo.id }}</th>
            <td>{{ torneo.nombre }}</td>
            <td>
              {% if torneo.genero == true %}
                Masculino
              {% else %}
                Fenemino
              {% endif %}
            </td>
            <td>{{ torneo.cantidad }}</td>
            <td>{{ torneo.etapas }}</td>
            <td> <button class="btn btn-success"> Detalle </button>  </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>
</div>
{% endblock %}
