{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
<style>
  .botonera td{
    padding: 5px;
  }
</style>

<div class="container">

    <section class="alert alert-">
        <h1 class="display-1">Torneos</h1>

        <br>

      <section class="alert alert-info">
        Los torneos tienen etapas determinas por la cantidad de participantes del mismo, para iniciar el torneo se debe contar con la cantidad de jugadores configurada al crear el torneo
        <hr>

        <table class="botonera">
          <td><a href="#" class="btn btn-primary">Nuevo Torneo</a></td>
          <td><a href="{{ path('app_menu') }}" class="btn btn-dark">Volver al menú</a></td>
        </table>

        

      </section>
    </section>

    {{ form(torneoForm) }}
    {# Renderizamos el formulario #}
    {{ form_start(form) }}
    {{ form_row(form.nombre) }}
    {{ form_row(form.genero) }}
    {{ form_row(form.cantidad) }}
    {{ form_row(form.etapas) }}

    {# Agregamos el botón de enviar #}
    <button type="submit">Enviar</button>
    {{ form_end(form) }}


    <section>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for torneo in torneos %}
            <tr>
            <th scope="row">1</th>
            <td>{{ torneo.nombre }}</td>
            <td>Masculino</td>
            <td> <button class="btn btn-success"> Detalle </button>  </td>
            <td> <button class="btn btn-success"> Sorteo </button>  </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>
</div>
{% endblock %}
