{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
<style>
  
</style>

<div class="container">

    <section class="alert alert-">
        <h1 class="display-1">Torneos</h1>
    </section>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/app/src/Controller/TorneoController.php</code></li>
        <li>Your template at <code>/app/templates/torneo/index.html.twig</code></li>
    </ul>


    <section>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Tipo</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>



        {% for torneo in torneos %}
            <tr>
            <th scope="row">1</th>
            <td>{{ torneo.nombre }}</td>
            <td>Masculino</td>
            <td> <button class="btn btn-success"> Detalle </button>  </td>
            <td> <button class="btn btn-success"> Sorteo </button>  </td>
            </tr>
        {% endfor %}




  </tbody>
</table>
    </section>
</div>
{% endblock %}
