{% extends 'base.html.twig' %}

{% block title %}Torneo{% endblock %}

{% block body %}
<style>
  .botonera td{
    padding: 5px;
  }
</style>

<div class="container">

    <section class="alert alert-">
        <h1 class="display-1">Torneos</h1>

        <br>

      <section class="alert alert-info">
        Los torneos tienen etapas determinas por la cantidad de participantes del mismo, para iniciar el torneo se debe contar con la cantidad de jugadores configurada al crear el torneo
        <hr>

        <table class="botonera">
          <td><a href="#" class="btn btn-primary">Nuevo Torneo</a></td>
          <td><a href="{{ path('app_menu') }}" class="btn btn-dark">Volver al menú</a></td>
        </table>

        

      </section>
    </section>

    {{ form_start(torneoForm) }}
      {{ form_row(torneoForm.nombre) }}
      {{ form_row(torneoForm.genero) }}
      {{ form_row(torneoForm.cantidad) }}
    <button type="submit">Enviar</button>
    {{ form_end(torneoForm) }}


    <section>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Jugadores</th>
            <th scope="col">Etapas</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for torneo in torneos %}
            <tr>
            <th scope="row">1</th>
            <td>{{ torneo.nombre }}</td>
            <td>
              {% if torneo. %}
              {{ torneo.nombre }}
            </td>
            <td>{{ torneo.cantidad }}</td>
            <td>{{ torneo.etaps }}</td>
            <td> <button class="btn btn-success"> Detalle </button>  </td>
            <td> <button class="btn btn-success"> Sorteo </button>  </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>
</div>
{% endblock %}
